.box{
  padding: 20px 50px;
  background:#d1024e44;
  margin: 20px;
  margin-left: 100;
  text-align: center;
  color:#a6026c;
  border-top: 2px solid hsl(210, 40%, 45%);
  font-family: sans-serif;
  font-weight: bold;
}